* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  line-height: 1.5;
  font-family: "Microsoft JhengHei", PMingLiU, MingLiu;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
  font-family: "Dancing Script", cursive;
}

h4 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}

a {
  color: #833c1e;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.h100 {
  height: 100%;
}

.v-center {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.relative {
  position: relative;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.circle-border {
  border: transparent 2px solid;
  border-radius: 100%;
}

.border-white {
  border-color: white;
}

.bg-darker {
  background-color: #2e2822;
}

.bg-gray {
  background-color: #1c1815;
}

.bg-dark {
  background-color: #333;
}

.bg-white {
  background-color: #fff;
}

.bg-darkBlue {
  background-color: #000514;
}

.bg-blue {
  background-color: #833c1e;
}

.text-primary {
  color: #833c1e;
}

.text-success {
  color: #00CC99;
}

.text-accent {
  color: #e26789;
}

.text-white {
  color: white;
  text-decoration: none;
}

.text-Brown {
  color: #cdb8a5;
  text-decoration: none;
}

.text-darkBrown {
  color: #bd7461;
  text-decoration: none;
}

.text-gray {
  color: #bfbfbf;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.box-shadow {
  position: relative;
}
.box-shadow:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.bg-gradient1 {
  background-image: linear-gradient(45deg, #7d634b, #cc9452);
}

.bg-gradient2 {
  background-image: linear-gradient(45deg, #212e42, #15171a);
}

.bg-gradient3 {
  background-image: linear-gradient(45deg, #1c1815, #1c1815);
}

.animated {
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(50px);
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.btn-outline-light {
  color: white;
  border-color: white;
}

.table-dark {
  background-color: #806748;
}

.table > thead > tr > th {
  border: 2px solid;
  border-color: #bd7461;
  border-radius: 30px !important;
}

.table > tbody > tr > td {
  border: 2px solid;
  border-color: #bd7461;
}

.imgeOpacity {
  opacity: 0.4;
}

.carouselHeight {
  height: calc(100vh);
  overflow: hidden;
}

.buttonCenter {
  position: absolute;
  bottom: 18%;
  left: calc(50% - 100px);
}

.center {
  margin: 0 auto;
  float: none;
}

.btn-primary {
  color: #fff;
  background-color: #833c1e;
  border-color: #833c1e;
}

.btn-primary:hover {
  color: #833c1e;
  background-color: #cdb8a5;
  border-color: #cdb8a5;
}

.coverTitle {
  position: absolute;
  bottom: 50%;
  left: calc(50% - 224px);
  font-size: 70px;
  color: #833c1e;
  font-weight: bold;
}
@media (max-width: 550px) {
  .coverTitle {
    font-size: 40px;
    left: calc(50% - 140px);
  }
}

@media (min-width: 808px) {
  .d-HomePage-block {
    display: block !important;
  }
}