// font
$chineseFont: "Microsoft JhengHei",PMingLiU,MingLiu;
$englishFont: 'Dancing Script', cursive;
$font-size: 16px;

// gutter
$gutter: 15px;

// color
$background-color: #fcfbf5;
$font-color: #333;
$font-color-gray: lighten($font-color, 55%);

$brand-primary: #a31f34;
$brand-success: #00CC99;
$brand-accent: #e26789;
$brand-brown: #cdb8a5;
$brand-darkBrown: #bd7461;
$brand-dark: $font-color;
$brand-facebook: #4080ff;

// navbar
$navbar-height: 42px;

// progress
$progress-height: 20px;

// section
$section-gutter: 45px;

// zindex
$navbar-zindex: 1000;
$fab-zindex: 1045;

// breakpoint
$mobile-size: 779px;

//** Base **//
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  line-height: 1.5;
  font-family: $chineseFont;

}
h1 {
  font-size: $font-size*4;
}
h2 {
  font-size: $font-size*2.5;
}
h3 {
  font-size: $font-size*2;
  font-family: $englishFont;
}
h4 {
  font-size: $font-size*2.5;
  font-family: $englishFont;
}

a {
  color: $brand-primary
}


//** Grid **//
// .wrap {
//   overflow: hidden;
//   background-image: url(https://images.pexels.com/photos/2581022/pexels-photo-2581022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
//   background-position: 100% 1%;;
//   background-size: contain;
//   @media (max-width: $mobile-size){
//     background-image: url(https://images.pexels.com/photos/774455/pexels-photo-774455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
// }
// }
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



//** Utilities **//
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.h100 {
  height: 100%;
}
.v-center {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.relative {
  position: relative;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.circle-border {
  border: transparent 2px solid;
  border-radius: 100%;
}
.border-white {
  border-color: white;
}

.bg-darker {
  background-color: #2e2822
}
.bg-gray {
  background-color: #1c1815;
}
.bg-dark {
  background-color: $brand-dark;
}
.bg-white {
  background-color: #fff;
}
.bg-darkBlue {
  background-color: #000514;
}
.bg-red {
  background-color: $brand-primary;
}

.text-primary {
  color: $brand-primary;
}
.text-success {
  color: $brand-success;
}
.text-accent {
  color: $brand-accent;
}
.text-white {
  color: white;
  text-decoration: none;
}
.text-Brown {
  color: $brand-brown;
  text-decoration: none;
}
.text-darkBrown {
  color: $brand-darkBrown;
  text-decoration: none;
}

.text-gray {
  color: $font-color-gray
}
.text-right {
  text-align: right;
}
.block {
  display: block;
}
.box-shadow {
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 15px rgba(black, .15);
  }
}


// Gradients

.bg-gradient1 {
  background-image: linear-gradient(45deg, #7d634b, #cc9452);
  
}


.bg-gradient2 {
  background-image: linear-gradient(45deg, #212e42, #15171a);
  
}

.bg-gradient3 {
  background-image: linear-gradient(45deg, #1c1815, #1c1815);
  
  
}


// animated
.animated {
  opacity: 0;
  transition: all 1.5s;
  transform: translateY(50px);
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}


.btn-outline-light {
    color: white;
    border-color: white;
}


.table-dark {
  background-color: #806748;
  // border-color: $brand-primary;
}